<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>A357A47F-4D24-4ECB-A319-F30FCA4E7D3B</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Paraversal</string>
	<key>description</key>
	<string>A simple way to translate and mirror words between languages, allowing the user to find specific terms by translating and back-translating quickly.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WordWeave</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>uv run main.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A357A47F-4D24-4ECB-A319-F30FCA4E7D3B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>1965AFE2-D9EC-47B9-9D08-BA8FABADAC0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>- icon by Jagat Icon on Flaticon</string>
	<key>uidata</key>
	<dict>
		<key>1965AFE2-D9EC-47B9-9D08-BA8FABADAC0C</key>
		<dict>
			<key>note</key>
			<string>reinvoke Alfred with inverse languages and previous translation</string>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>A357A47F-4D24-4ECB-A319-F30FCA4E7D3B</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>[
	{"g": "de"}, 
	{"e": "en"}, 
	{"s": "es"}
]</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Quick Code Map</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>quickcodemap</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>[
	{"de": "🇩🇪"}, 
	{"en": "🇺🇸"}, 
	{"es": "🇪🇸"}
]</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Language-Flag map</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>languageflagmap</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>argoslean</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Lean</string>
						<string>argoslean</string>
					</array>
					<array>
						<string>Stock</string>
						<string>argosstock</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Lean &amp; Stock backends both use the argos-translate package. The Stock backend uses the default translation code flow, as intended by the developers. However, due to unnecessary imports and the nature of Alfred workflows, this backend is extremely sluggish (almost 2s for every invocation). The Lean backend features a manual implementation of translation through Argos without pulling in the heaviest dependencies. The results may be different (especially on longer texts), sometimes even incorrect. However, this backend is extremely responsive, usually under 200ms per translation.</string>
			<key>label</key>
			<string>Translation Backend</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>backend</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
